name: Build

on:
  push:
    branches:
      - main
      - next
      - maint/**
      - renovate/*
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
      - uses: containerbase/internal-tools/setup@a45b3175579497dfd14536b69ecfc81bb2b3ad38 # v4.0.11
        with:
          save-cache: true
          pnpm-cache: |
            node_modules
            packages/*/node_modules

      - run: pnpm build

      - run: pnpm eslint -f gha

      - run: pnpm prettier

  test:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 22
          - 24

    permissions:
      id-token: write # required for codecov OIDC

    steps:
      - uses: containerbase/internal-tools/setup@a45b3175579497dfd14536b69ecfc81bb2b3ad38 # v4.0.11
        with:
          save-cache: true
          node-version: ${{ matrix.node-version }}
          pnpm-cache: |
            node_modules
            packages/*/node_modules

      - run: pnpm build

      - run: pnpm test:unit

      - run: pnpm test:integration

      - name: Codecov test results
        if: github.event_name != 'merge_group' && !cancelled()
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true
          report_type: test_results
          flags: node${{ matrix.node-version }}-${{ runner.os }}

      - name: Codecov coverage results
        if: github.event_name != 'merge_group'
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true
          flags: node${{ matrix.node-version }}-${{ runner.os }}

  # Catch-all required check for test matrix
  success:
    needs:
      - lint
      - test
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled lint tests
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'cancelled'
        run: exit 1

      - name: Fail for failed or cancelled test tests
        if: |
          needs.test.result == 'failure' ||
          needs.test.result == 'skipped'
        run: exit 1
