name: Build

on:
  push:
    branches:
      - main
      - next
      - maint/**
      - renovate/*
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
      - uses: containerbase/internal-tools/setup@cafacb746b412fd28fc671c1fc1b8a20ea2e34e9 # v3.14.18
        with:
          save-cache: true
          pnpm-cache: |
            node_modules
            packages/*/node_modules

      - run: pnpm build

      - run: pnpm eslint -f gha

      - run: pnpm prettier

  test:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        node-version:
          - 18
          - 20
          - 22

    permissions:
      id-token: write # required for codecov OIDC

    steps:
      - uses: containerbase/internal-tools/setup@cafacb746b412fd28fc671c1fc1b8a20ea2e34e9 # v3.14.18
        with:
          save-cache: true
          node-version: ${{ matrix.node-version }}
          pnpm-cache: |
            node_modules
            packages/*/node_modules

      - run: pnpm build

      - run: pnpm test:unit

      - run: pnpm test:integration

      - name: Codecov Coverage
        if: github.event_name != 'merge_group'
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          use_oidc: true

      - name: Codecov Test Results
        if: github.event_name != 'merge_group' && !cancelled()
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1.1.1
        with:
          use_oidc: true

  # Catch-all required check for test matrix
  success:
    needs:
      - lint
      - test
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled lint tests
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'cancelled'
        run: exit 1

      - name: Fail for failed or cancelled test tests
        if: |
          needs.test.result == 'failure' ||
          needs.test.result == 'skipped'
        run: exit 1
