name: Release

on:
  push:
    branches:
      - main
      - next
      - maint/**

  workflow_dispatch:
    inputs:
      dryRun:
        description: 'Dry-Run'
        default: 'true'
        required: false

env:
  # are we on a release branch?
  DO_REALEASE: ${{ github.ref_name == github.event.repository.default_branch || github.ref_name == 'next' || startsWith(github.ref_name, 'maint/')}}
  DRY_RUN: true

permissions:
  contents: write
  issues: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # zero stands for full checkout, which is required for semantic-release
          filter: blob:none # we don't need all blobs, only the full tree
          show-progress: false

      - uses: containerbase/internal-tools/setup@eae5b856b5812a5692200982d92b89cbc671e8c8 # v3.14.38
        with:
          save-cache: true
          checkout: false
          pnpm-cache: |
            node_modules
            packages/*/node_modules

      - name: Check dry run
        run: |
          if [[ "${{github.event_name}}" == "workflow_dispatch" && "${{ github.event.inputs.dryRun }}" != "true"  ]]; then
            echo "DRY_RUN=false" >> "$GITHUB_ENV"
          elif [[ "${{env.DO_REALEASE}}" == "true" ]]; then
            echo "DRY_RUN=false" >> "$GITHUB_ENV"
          fi

      - run: pnpm build

      - run: pnpm semantic-release --dry-run ${{env.DRY_RUN}}
        env:
          GITHUB_TOKEN: ${{ github.token }}
